body {
  @include flex(row, center, center);

  .hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 72rem;
    height: 100vh;
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    @include flex(column, center, flex-end);

    .overlay {
      position: absolute;
      background: rgb(13, 13, 13);
      background: linear-gradient(180deg, rgba(13, 13, 13, 0.4) 0%, rgba(13, 13, 13, 1) 100%);
      width: 100%;
      height: 100%;
    }

    .img-background {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .content {
      z-index: 1;
      background-color: $grayscale-darker;
      width: 100%;
      padding: 6rem;

      img {
        margin-bottom: 4rem;
      }

      .text {
        h2 {
          color: $grayscale-lightest;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 160%;
          margin-bottom: 1.6rem;
        }

        p {
          color: $grayscale-medium;
          font-size: 2rem;
          line-height: 160%;
        }
      }
    }

    @include responsive(1366px) {
      max-width: 56rem;

      .content {

        padding: 4rem;

        img {
          margin-bottom: 3.2rem;
        }

        .text {
          h2 {
            font-size: 2.8rem;
          }

          p {
            font-size: 1.8rem;
          }
        }
      }
    }

    @include responsive(1024px) {
      .content {
        padding: 4.8rem 3.2rem;
        @include flex(column, center, center);

        .text {
          text-align: center;
          width: 100%;
          max-width: 56rem
        }
      }
    }

    @include responsive(600px) {
      .content {
        padding: 4rem 1.6rem;
      }
    }
  }

  main {
    @include flex(row, center, center);
    width: 100%;
    margin-left: 72rem;

    .container {
      width: 100%;
      max-width: 48rem;
      padding: 6rem 2.4rem;

      header {
        margin-bottom: 5.4rem;

        h1 {
          color: $grayscale-darker;
          font-size: 4rem;
          font-weight: 700;
          line-height: 100%;
          margin-bottom: 1.6rem;
        }

        p {
          color: $grayscale-dark;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 100%;
        }
      }

      form {
        .icon {
          height: 1.8rem;
          width: 1.8rem;
          margin-right: 0.8rem;
          color: $grayscale-dark;
        }

        span {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 100%;
          color: $grayscale-dark;
        }

        .form-control {
          margin-bottom: 2rem;
        }

        .validation-password {
          margin-top: -1rem;
          // display: none;

          svg {
            .line-empty {
              stroke: $grayscale-lightest;
            }
          }

          .status {
            font-size: 1.4rem;
            line-height: 100%;
            margin-top: 0.2rem;
          }

          &.visible-status {
            display: block;
          }
        }

        .required-in-password {
          margin-top: 2rem;

          .title {
            color: $grayscale-darker;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 100%;
            margin-bottom: 0.8rem
          }

          ul {
            li {
              @include flex(row, flex-start, flex-start);

              span {
                svg {
                  color: $grayscale-dark;
                }
              }

              p {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: $grayscale-dark;
              }


              &.check {
                span {
                  svg {
                    color: $semantic-success;
                  }
                }

                p {
                  color: $semantic-success;
                  font-weight: 700;
                }
              }
            }
          }
        }

        .recomendation {
          @include flex(row, center, flex-start);
          margin-top: 2rem;
          margin-bottom: 2.4rem;
        }
      }

      .sign-in {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 100%;
        margin-top: 4rem;

        a {
          &:last-child {
            color: $brand-primary;
            text-decoration-line: underline;
          }
        }

        p {
          margin-top: 3.2rem;
          color: $grayscale-dark;
        }
      }
    }

    @include responsive(1366px) {
      margin-left: 56rem;
    }

    @include responsive(1024px) {
      .container {
        width: 100%;
        max-width: 56rem
      }
    }

    @include responsive(600px) {
      .container {
        padding: 6rem 1.6rem;
      }
    }
  }

  @include responsive(1024px) {
    @include flex(column, center, center);

    .hero {
      position: relative;
      max-width: 100%;
    }

    main {
      margin-left: 0rem;
    }
  }
}