// Colors

$brand-primary: #f15757;
$semantic-error-lightest: rgba(199, 24, 24, 0.1);
$semantic-error: #c71818;
$semantic-warning: #e7a600;
$semantic-success: #008b38;
$semantic-success-lightest: rgba(0, 139, 56, 0.1);
$grayscale-lightest: #f2f2f2;
$grayscale-medium: #8b8b8c;
$grayscale-dark: #575859;
$grayscale-darker: #0d0d0d;
