// Colors

$brand-primary: #f15757;
$semantic-error-lightest: #F9E7E7;
$semantic-error: #c71818;
$semantic-warning: #e7a600;
$semantic-success: #008b38;
$semantic-success-lightest: #E5F3EB;
$grayscale-lightest: #f2f2f2;
$grayscale-medium: #8b8b8c;
$grayscale-dark: #575859;
$grayscale-darker: #0d0d0d;